src/main/app/maven-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
xmlns:json="http://www.mulesoft.org/schema/mule/json" 
xmlns:db="http://www.mulesoft.org/schema/mule/db" 
xmlns:http="http://www.mulesoft.org/schema/mule/http"
xmlns:jms="http://www.mulesoft.org/schema/mule/jms" 
xmlns="http://www.mulesoft.org/schema/mule/core"
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
xmlns:spring="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
	<spring:beans>
		<spring:bean id="DerbyConfiguration" name="Bean" class="com.mulesoft.training.Database" />
	</spring:beans>
	
	<db:derby-config name="Derby_Configuration" url="jdbc:derby:memory:muleEmbeddedDB;create=true" doc:name="Derby Configuration" />
	
	<jms:activemq-connector name="Active_MQ" brokerURL="vm://localhost" validateConnections="true" doc:name="Active MQ" />
	
	<flow name="mavenFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/hello" doc:name="HTTP" />
		<set-payload value="#[&quot;Hello Maven&quot;]" doc:name="Set Payload" />
	</flow>
	
	<flow name="retrieveFlights">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/flights" doc:name="HTTP" />
		<db:select config-ref="Derby_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[SELECT * FROM FLIGHTS]]></db:parameterized-query>
		</db:select>
		<set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
		<json:object-to-json-transformer doc:name="Object to JSON" />
		<jms:outbound-endpoint queue="flights" connector-ref="Active_MQ" doc:name="JMS" />
	</flow>
	
	<flow name="logFlights">
		<jms:inbound-endpoint queue="flights" connector-ref="Active_MQ" doc:name="JMS" />
		<logger message="#[payload]" level="INFO" doc:name="Logger" />
	</flow>
</mule>
